@model Kurs.Admin.Models.ProcessorViewModel

@{
    ViewBag.Title = "Удалить процессор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить процессор</h2>

<h3>Вы уверены, что хотите удалить этот элемент?</h3>
<div>
    <h4>Процессор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cores)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.Cores)
        @Html.HiddenFor(m => m.Frequency)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
